//Кольори
$colorTextPrimary: #fff;
$colorTextSecondary: #333;
$colorTexrTertiary: #666;
$colorBtn: #ff4e50;
//Шрифти
$fontFamilyPrimary: "montserrat", sans-serif;
$fontFamilyPrimary: "roboto", sans-serif;
